**Pitch**

Build an app that uses Hacker News comment data to rank commenters based on comment sentiment (saltiest/negativity).

**Objectives**

1. Gather Hacker News data from Google Big Query
2. Apply a score to each recorded comment
3. Pass results to Elephant SQL database
4. Construct an ETL or other data pipeline with a workable end-point for the rest of the team to access and use.

In [0]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.4)

In [0]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.6/dist-packages (3.2.1)

In [0]:
# Import necessary modules
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from google.cloud import bigquery
from google.oauth2 import service_account
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [0]:
# Establish connection to database
engine = create_engine('postgres://kgdavbsb:OrY6rzj8bWdwSrd258R1KC-Zh7951kyd@otto.db.elephantsql.com:5432/kgdavbsb')

In [0]:
 credentials = service_account.Credentials.from_service_account_file('/content/Hacker News Group 3-12c73c4e6d93.json')

In [0]:
project_id = 'hacker-news-group-3'

In [0]:
client = bigquery.Client(credentials=credentials, project=project_id)

In [0]:
# Create bigquery dataset reference
hn_ref = client.dataset('hacker_news', project='bigquery-public-data')

In [0]:
# Get 'comments' table from bigquery
# Create dataframe with 30000 rows
# ElephantSQL limit it 20MB
comment_ref = hn_ref.table('comments')

comments = client.get_table(comment_ref)

comments_df = client.list_rows(comments, max_results=30000).to_dataframe()

In [0]:
comments_df.describe()

                 id          time        parent  ranking
count  3.000000e+04  3.000000e+04  3.000000e+04  30000.0
mean   5.049620e+06  1.347782e+09  5.048742e+06      0.0
std    3.031557e+06  6.344386e+07  3.031373e+06      0.0
min    6.720000e+02  1.172237e+09  6.110000e+02      0.0
25%    2.331084e+06  1.300257e+09  2.330802e+06      0.0
50%    5.051067e+06  1.358094e+09  5.051011e+06      0.0
75%    7.640184e+06  1.398347e+09  7.639345e+06      0.0
max    1.037916e+07  1.444725e+09  1.037890e+07      0.0

In [0]:
comments_df.describe(exclude="number")

             by   author                    time_ts     text deleted dead
count     30000    30000                      30000    30000       0    0
unique    10200    10200                      29999    29956       0    0
top     tptacek  tptacek  2009-04-01 19:17:51+00:00  Thanks!     NaN  NaN
freq        128      128                          2       11     NaN  NaN
first       NaN      NaN  2007-02-23 13:25:39+00:00      NaN     NaN  NaN
last        NaN      NaN  2015-10-13 08:29:35+00:00      NaN     NaN  NaN

In [0]:
comments_df['by'] = comments_df['by'].dropna(how='all')

In [0]:
comments_df.shape

(30000, 10)

In [0]:
comments_df.isnull().sum()

id             0
by             0
author         0
time           0
time_ts        0
text           0
parent         0
deleted    30000
dead       30000
ranking        0
dtype: int64

In [0]:
comments_df['by'].describe()

count       30000
unique      10200
top       tptacek
freq          128
Name: by, dtype: object

In [0]:
comments_df = comments_df.drop(['dead', 'deleted', 'time'], axis=1)

In [0]:
comments_df['time_ts'] = pd.to_datetime(comments_df['time_ts'])

In [0]:
comments_df['time_ts'].describe()

count                         30000
unique                        29999
top       2009-04-01 19:17:51+00:00
freq                              2
first     2007-02-23 13:25:39+00:00
last      2015-10-13 08:29:35+00:00
Name: time_ts, dtype: object

In [0]:
comments_df.head()

         id  by  ...    parent ranking
0   2701393  5l  ...   2701243       0
1   5811403  99  ...   5804452       0
2     21623  AF  ...     21611       0
3  10159727  EA  ...  10159396       0
4   2988424  Iv  ...   2988179       0

[5 rows x 7 columns]

**From vaderSentiment documentation:**

**Typical Threshold Values**

   positive sentiment: compound score >= 0.05

   neutral sentiment: (compound score > -0.05) and (compound score < 0.05)
   
   negative sentiment: compound score <= -0.05


The positive, negative, and compound equations 

    `x = x + score['pos']`
    `x = x + score['compound']`
    `x = x - score['neg']` 


With this information I can now design a formula to determine the saltiness of our users' comments. For the purpose of this project, I want to give a little more weight to the positive and negative ratios, so the score formula is:

    **Saltiness Score** = Positive Ratio + Compound Score - Negative Ratio

In [0]:

# Create the sentiment analysis function
def sent_score(comment):
    analyser = SentimentIntensityAnalyzer()
    
    x = 0
    score = analyser.polarity_scores(comment)
    x = x + score['pos']
    x = x + score['compound']
    x = x - score['neg'] 
    
    return x

In [0]:
# Apply the function to each item in the 'text' col
# Instantiate in newly-created 'score' col
comments_df['score'] = comments_df['text'].apply(sent_score)

In [0]:
# Check if it worked - Yes!
print(comments_df.shape)
comments_df.head()

(30000, 8)

         id  by author  ...    parent ranking   score
0   2701393  5l     5l  ...   2701243       0 -0.0616
1   5811403  99     99  ...   5804452       0  0.0000
2     21623  AF     AF  ...     21611       0  0.5205
3  10159727  EA     EA  ...  10159396       0  1.0102
4   2988424  Iv     Iv  ...   2988179       0  0.0000

[5 rows x 8 columns]

In [0]:
# Explore the scores
comments_df['score'].describe()

count    30000.000000
mean         0.283986
std          0.647266
min         -1.624900
25%         -0.086425
50%          0.365200
75%          0.850600
max          1.883200
Name: score, dtype: float64

In [0]:
# Converting the dataframe to SQL and push to ElephantSQL
comments_df.to_sql('HNTroll', con=engine, index=False)